.footer {
  text-align: center;

  &__top {
    padding: 40px 20px;
  }

  &__bottom {
    padding: 20px;
    color: $white;
    background-color: $black;

    & a {
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    margin-bottom: 50px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    gap: 54px;

    & > *:not(:first-child) {
      position: relative;
      
      &::after {
        position: absolute;
        left: -22px;
        top: 50%;
        display: block;
        width: 6px;
        height: 6px;
        background-color: $primary;
        transform: translateY(-50%);
        content: '';
      }
    }
  }

  &__nav ~ &__nav {
    margin-top: 40px;
  }

  &__link {
    font-size: 20px;
    line-height: 25px;
  }
}
