footer.footer
  .footer__top
    h4.title-h6.footer__title Usefull links

    nav.footer__nav
      a(href="#").footer__link Works
      a(href="#").footer__link Services
      a(href="#").footer__link About us
      a(href="#").footer__link Send us a message

    .footer__nav
      a(href="#").footer__link +1123 456 7890
      a(href="#").footer__link hello@allora.com
    
  .footer__bottom
    .footer__copy Copyright @2022 Made with by <a href="#">Portentus</a>