header.header
  //- .container
  .header__wrap
    .header-logo
      img(src="/img/logo.png", alt="").header-logo__img
  
    .header-nav
      a(href="#").header-nav__link Work
      a(href="#").header-nav__link Services
      .header-nav__separator
      a(href="#").header-nav__link +1123 456 7890
      a(href="#").header-nav__link hello@medium.com
      a(href="#").header-nav__link Let's talk
      .header-nav__separator
      a(href="#").header-nav__icon
        img(src="/img/icon-be.svg", alt="")
      a(href="#").header-nav__icon
        img(src="/img/icon-ball.svg", alt="")